<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page: 

https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems

<a href="https://cognitiveclass.ai/">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.  
For example:
 - Textual annotations in numeric fields: `1000 (Updated with 1050)`
 - Attached reference links: `Bike sharing system [123]`
 - Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
 - HTML style tags: `<span style="color:blue">Bike sharing system</span>`
 - Special characters: `&nbsp` for a white space
 
Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:
  - TASK: Standardize column names for all collected datasets
  - TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
  - TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks. 

Please note that the require("tidyverse")" command is commented here as the tidyverse package is already pre-installed in this lab environment. However, if you are executing this lab local R-Studio on your system then install this package first and then load the package.

In [1]:
# Check whether you need to install the `tidyverse` library
# require("tidyverse")
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:
- `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
- `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
- `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
- `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [8]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:
 - Column names need to be UPPERCASE
 - The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [2]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

_TODO_: Write a `for` loop to iterate over the above datasets and convert their column names

In [9]:
for (dataset_name in dataset_list){
    # Read dataset
    dataset <- read_csv(dataset_name)
    # Standardized its columns:
    
    # Convert all column names to uppercase
    colnames(dataset) = toupper(colnames(dataset))
    
    # Replace any white space separators by underscores, using the str_replace_all function
    colnames(dataset) = str_replace_all(colnames(dataset), " ", "_")
    
    # Save the dataset 
    write.csv(dataset, dataset_name, row.names=FALSE)
}

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  City = col_character(),
  Name = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)
Parsed with column specification:
cols(
  Date = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  Hour = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  Visibility = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  Snowfall = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Parsed with column specification:
cols(
  city = col_character(),
  weather = col_character(),
  visibility = col_double(),
  temp = col_double(),
  temp_min = col_double(),
  temp_max = col_double(),
  pressure = col_double(),
  humidity = col_double(),
  wind_speed = col_double(),
  wind_deg = col_double(),
  season = col_character(),
  forecast_datetime = col_datetime(format = "")
)
Parsed with column specification:
cols(
  City = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

_TODO_: Read the resulting datasets back and check whether their column names follow the naming convention

In [3]:
for (dataset_name in dataset_list){
    # Print a summary for each data set to check whether the column names were correctly converted
    dataset <- read_csv(dataset_name)
    print(summary(dataset))
}

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  NAME = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)

   COUNTRY              CITY               NAME              SYSTEM
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   OPERATOR           LAUNCHED         DISCONTINUED         STATIONS
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   BICYCLES         DAILY_RIDERSHIP
 Length:480         Length:480
 Class :character   Class :character
 Mode  :character   Mode  :character

Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)

     DATE           RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Length:8760        Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 Class :character   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 Mode  :character   Median : 542.0    Median :11.50   Median : 13.70
                    Mean   : 729.2    Mean   :11.50   Mean   : 12.87
                    3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
                    Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                    NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8760
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character

Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)

     CITY             WEATHER            VISIBILITY         TEMP
 Length:160         Length:160         Min.   : 9940   Min.   : 3.810
 Class :character   Class :character   1st Qu.:10000   1st Qu.: 9.748
 Mode  :character   Mode  :character   Median :10000   Median :12.765
                                       Mean   :10000   Mean   :13.505
                                       3rd Qu.:10000   3rd Qu.:16.747
                                       Max.   :10000   Max.   :26.130
    TEMP_MIN         TEMP_MAX         PRESSURE       HUMIDITY
 Min.   : 3.810   Min.   : 3.810   Min.   : 954   Min.   :17.00
 1st Qu.: 9.725   1st Qu.: 9.953   1st Qu.:1016   1st Qu.:37.00
 Median :12.765   Median :12.765   Median :1019   Median :49.00
 Mean   :13.444   Mean   :13.539   Mean   :1018   Mean   :49.92
 3rd Qu.:16.635   3rd Qu.:16.977   3rd Qu.:1022   3rd Qu.:62.00
 Max.   :26.130   Max.   :26.130   Max.   :1028   Max.   :94.00
   WIND_SPEED       WIND_DEG        SEASON
 Min.   :0.180   Min.   :  2.0   Length:160
 1st Qu.:1.455   1st Qu.: 92.0   Class :character
 Median :2.130   Median :141.0   Mode  :character
 Mean   :2.778   Mean   :163.7
 3rd Qu.:3.723   3rd Qu.:256.8
 Max.   :8.180   Max.   :352.0
 FORECAST_DATETIME
 Min.   :2021-04-16 12:00:00
 1st Qu.:2021-04-17 17:15:00
 Median :2021-04-18 22:30:00
 Mean   :2021-04-18 22:30:00
 3rd Qu.:2021-04-20 03:45:00
 Max.   :2021-04-21 09:00:00

Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

     CITY            CITY_ASCII             LAT              LNG
 Length:26569       Length:26569       Min.   :-54.93   Min.   :-179.5900
 Class :character   Class :character   1st Qu.: 27.92   1st Qu.: -78.7794
 Mode  :character   Mode  :character   Median : 40.22   Median :  -0.7689
                                       Mean   : 33.10   Mean   : -11.3639
                                       3rd Qu.: 47.99   3rd Qu.:  29.6833
                                       Max.   : 81.72   Max.   : 179.3667

   COUNTRY              ISO2               ISO3            ADMIN_NAME
 Length:26569       Length:26569       Length:26569       Length:26569
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   CAPITAL            POPULATION             ID
 Length:26569       Min.   :       0   Min.   :1.004e+09
 Class :character   1st Qu.:    9246   1st Qu.:1.277e+09
 Mode  :character   Median :   20080   Median :1.643e+09
                    Mean   :  162346   Mean   :1.556e+09
                    3rd Qu.:   59369   3rd Qu.:1.840e+09
                    Max.   :37977000   Max.   :1.934e+09
                    NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [4]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  NAME = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)

In [14]:
# Print its head
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 Argentina Buenos Aires          Ecobici              Serttel Brasil
5 Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):
 - `COUNTRY`: Country name 
 - `CITY`: City name
 - `SYSTEM`: Bike-sharing system name
 - `BICYCLES`: Total number of bikes in the system

In [5]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [6]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [7]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [8]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially 800 (later 2500)
9  100 (220)
10 370[114]

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced. 

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [9]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [10]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [11]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Melbourne[12]
2  Brisbane[14][15]
3  Lower Austria[18]
4  Namur[19]
5  Brussels[21]
6  Salvador[23]
7  Belo Horizonte[24]
8  João Pessoa[25]
9  (Pedro de) Toledo[26]
10 Rio de Janeiro[27]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [12]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 EasyBike[58]
2 4 Gen.[61]
3 3 Gen. SmooveKey[113]
4 3 Gen. Smoove[141][142][143][139]
5 3 Gen. Smoove[179]
6 3 Gen. Smoove[181]
7 3 Gen. Smoove[183]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some 
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

_TODO:_ Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [21]:
# remove reference link
remove_ref <- function(strings) {
    
    ref_pattern = "\\[[A-z0-9]+\\]"
    
    # Replace all matched substrings with a white space using str_replace_all()
    result = str_replace_all(strings, ref_pattern, "")
    
    # Trim the result if you want
    result = str_trim(result)
    
    return(result)
}

_TODO:_ Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [22]:
# sub_bike_sharing_df %>% mutate(column1=remove_ref(column1), ... )
sub_bike_sharing_df <- sub_bike_sharing_df %>%
                  mutate(
                    CITY = remove_ref(CITY),
                    SYSTEM =remove_ref(SYSTEM)
                  )

_TODO:_ Use the following code to check whether all reference links are removed:

In [25]:
sub_bike_sharing_df %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

     CITY SYSTEM BICYCLES

# TASK: Extract the numeric value using regular expressions

_TODO:_ Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [23]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digitals_pattern <- "\\d+"
    
    # Find the first match using str_extract
    numeric_string <- str_extract(columns, digitals_pattern)
    
    # Convert the result to numeric using the as.numeric() function
    numeric_value <- as.numeric(numeric_string)
    
    return(numeric_value)
}

_TODO:_ Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [17]:
# Use the mutate() function on the BICYCLES column
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(BICYCLES = extract_num(BICYCLES))

_TODO:_ Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [20]:
summary(sub_bike_sharing_df$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      5     100     343    2012    1400   78000      76

_TODO:_ Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [26]:
# Write dataset to `bike_sharing_systems.csv`
write.csv(sub_bike_sharing_df, file = "bike_sharing_systems.csv", row.names = FALSE)

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created      |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>